.header {
    max-width: 100%;
    height: 50px;
}

.header__inner {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.header__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav__item {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.form__button {
    background-color: black;
    color: #fff;
    border: none;
    font-size: 16px;
}

body {
    background-color: #edeaea;
}

@media(max-width: 768px) {
    .header {
        max-width: 100%;
    }
    .header__nav {
        gap: 15px;
    }
}