.content {
    width: 100%;
}

.content__title {
    width: 80%;
    margin: 50px auto;
    border-left: 10px solid #000;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}

.tabs {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #3d3d3d;
    padding: 0 0 5px 50px ;
}

.tab__pending {
    padding-right: 50px;
    font-weight: bold;
}

.tabs a {
    text-decoration: none;
    color: #000;
}

.attendance__table {
    width: 80%;
    margin: 40px auto;
    background-color: #ffffff;
    border-bottom: 2px solid #8d8d8d;
    border-radius: 5px;
    color: #989696;
    text-align: center;
}

.attendance__table th{
    border-bottom: 2px solid #989696;
}
.attendance__table td {
    border-bottom: 2px solid #ddd;
    padding: 5px;
}

.attendance__detail {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}