.content {
    max-width: 100vw;
    height: 40vh;
    margin: 40px auto;
    display: grid;
    place-items: center;
}

.attendance__status {
    background-color: #ddd;
    color: #6e6b6b;
    padding: 5px 10px;
    border-radius: 25px;
}

.attendance__date {
    font-size: 20px;
}

.attendance__time {
    font-weight: bold;
    font-size: 60px;
}

.attendance__button {
    display: flex;
    gap: 25px;
}

.button__clock {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button__clock:hover {
    background-color: #4b4b4b;
}

.button__break {
    background-color: white;
    color: black;
    border: 1px solid #000000;
    margin-top: 20px;
    padding: 5px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.end__message {
    font-weight: bold;
    font-size: 16px;
}